{% extends "form_base.html" %}

{% block content %}
<main class="m-auto">
    <div class="card">
        <div class="card-title">
            <h1 class="text-center mt-3">Registration</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'register' %}" method="POST">{% csrf_token %}

                {% include 'messages_alert.html' %}
                <div>
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" id="password" name="username" placeholder="username"
                            required>
                    </div>
                    <div>
                        <label for=" email" class="form-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-regular fa-at"></i></span>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="username@email.com" required>
                        </div>
                    </div>
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-unlock-keyhole"></i></span>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="text-center mt-2">
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <input class="btn btn-primary" id="register-btn" type="submit" value="Create Account">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}