/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
    padding-bottom: 70px;
}

main {
    min-height: 600px;
}

.form-container {
    min-height: 600px;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
}

.btn {
    background-color: #018ABE;
    color: #FFFFFF;
}

.danger {
    background-color: red;
}

/* Navbar */
.navbar-collapse {
    flex-grow: unset;
}

.navbar {
    background-color: #018ABE;
    
}

.nav-item, .nav-link, .navbar a {
    color: #FFFFFF;
}

.navbar-toggler {
    background-color: #FFFFFF;
    color: #018ABE;
}
/* register form */
#register-btn {
    width: -webkit-fill-available;
}

/* Transaction Page */
.balance {
    max-width: 50%;
    background-color: #018ABE;
    color: #FFFFFF;
}

@media screen and (max-width: 991px){

    .edit {
        margin-bottom: 0.5rem;
    }
}
    
@media screen and (max-width: 341px){
    
    .add-transaction {
        margin-bottom: 0.5rem;
    }
}

/* Dashboard Page */
.dasboard-totals {
    max-width: 50%;
    background-color: #018ABE;
    color: #FFFFFF;
    margin: 1rem;
}

/* Savings Page */
@media screen and (max-width: 767px){

    .edit-savings {
        margin-bottom: 0.5rem;
    }
}

/* Footer */
footer {
   background-color: #018ABE;
}

footer a {
    text-decoration: none;
}

footer a i {
    font-size: 1.5rem;
    color: #FFFFFF;
}

footer a i:hover {
    color: #018ABE;
    background-color: #FFFFFF;
}