body {
    min-height: 100vh;
}

/* Navbar */
.navbar-collapse {
    flex-grow: unset;
}

/* Balance Section */

.balance {
    max-width: 50%;
}

/* register form */

#register-btn {
    width: -webkit-fill-available;
}