{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description"
        content="Allows users to track their income, expenses and savings goals, and provides a summary of their financials." />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Expense Tracker</title>
</head>

<body>

    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">Expense Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">Savings</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="mt-auto py-3 text-center">
        <!-- Social Links-->
        <a href="https://facebook.com" class="social" target="_blank" rel="noopener"
            aria-label="visit our facebbok page (opens in a new tab)"><i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://twitter.com" class="social" target="_blank" rel="noopener"
            aria-label="visit our twitter page (opens in a new tab)"><i class="fab fa-twitter ms-3"></i></a>
        <a href="https://instagram.com" class="social" target="_blank" rel="noopener"
            aria-label="visit our instagram page (opens in a new tab)"><i class="fab fa-instagram ms-3"></i></a>
        <a href="https://youtube.com" class="social" target="_blank" rel="noopener"
            aria-label="visit our youtube page (opens in a new tab)"><i class="fab fa-youtube ms-3"></i></a>
        <a href="https://github.com/jmanager25" class="social" target="_blank" rel="noopener"
            aria-label="visit our github page (opens in a new tab)"><i class="fab fa-github ms-3"></i></a>
    </footer>

</body>

</html>