{% extends "base.html" %}

{% block content %}
<!-- Balance Section -->
<section class="card balance m-auto mt-5">
    <duv class="card-body text-center text">
        Balance Goes Here
    </duv>
</section>
<!-- Transaction Section -->
<section class="transaction">
    <h2 class="text-center mt-5">Transaction</h2>
    <div class="text-center mt-5">
        <a href="#" class="btn btn-primary">Add Transaction</a>
    </div>
    <div class="container">

    </div>
</section>
{% endblock content %}