{% extends "base.html" %}

{% block content %}

{% include 'messages_alert.html' %}
<!-- Saving-goals Section -->
<section class="savings">
    <h2 class="text-center mt-5">Savings</h2>
    <div class="text-center mt-5">
        <a href="{% url 'add_savings' %}" class="btn btn-primary">Add Saving Goal</a>
    </div>
    <div class="container">
        <table class="table mt-5 text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Target Amount</th>
                    <th>Target Date</th>
                    <th>Progress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for saving_goal in saving_goals %}
                <tr>
                    <td>{{ saving_goal.name }}</td>
                    <td>{{ saving_goal.description }}</td>
                    <td>{{ saving_goal.target_amount }}</td>
                    <td>{{ saving_goal.target_date }}</td>
                    <td></td>
                    <td><a href="{% url 'edit_savings' pk=saving_goal.id %}" class="btn btn-sm btn-secondary">Edit</a>
                        <a href="{% url 'delete_savings' pk=saving_goal.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No saving goals found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}