{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<section class="hero-section">
    <div class="text-center mt-5">
        <p>It's time to keep your expenses in track</p>
        <h1>The free expense tracker tool that works for you</h1>
        <p>Track you expenses, income and set saving goals</p>
        <a href="{% url 'register' %}" class="btn btn-lg m-4">Start now. It's free</a>
        <!-- Carousel Images -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/transactions.png' %}" class="d-block w-100"
                        alt="image that shows the transaction page">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/dashboard.png' %}" class="d-block w-100"
                        alt="image that shows the dashboard page">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/savings.png' %}" class="d-block w-100"
                        alt="image that shows the savings page">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/categories.png' %}" class="d-block w-100"
                        alt="image that shows the category page">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div
    </div>
</section>
<!-- About Section -->
<section class="about mt-4 text-center">
    <h1 class="">
        Everything you need to manage your finances with confidence
    </h1>
    <div class="container">
        <div class="row mt-3">
            <p class="col-sm-6 text-start">
                Our Expense Tracker is a reliable and effective tool to help you
                manage your finances. With its simple interface and user-friendly
                design, you can effortlessly track your income and expenses, and
                gain a better understanding of your spending habits. You can add
                transactions and categorize them based on their type and category, 
                allowing you to view your expenses in a clear and
                organized manner.
            </p>
            <p class="col-sm-6 text-start">
                In addition, our app comes with various features that make
                managing your finances easy. You can set savings goals and view
                helpful reports and insights to track your progress and make
                informed decisions. With our Expense Tracker, you can confidently
                manage your finances and achieve your financial goals. Sign up now
                and experience the benefits of our easy-to-use platform!
            </p>
        </div>
    </div>
</section>

{% endblock content %}