{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="row text-center mt-5 justify-content-center">
    <div class="col-sm dasboard-totals">
        <h3>Expense</h3>
        <div class="">{{ expense }}€</div>
    </div>
    <div class="col-sm dasboard-totals">
        <h3>Income</h3>
        <div>{{ income }}€</div>
    </div>
    <div class="col-sm dasboard-totals">
        <h3>Savings</h3>
        <div>{{ saving_goals }}€</div>
    </div>
</div>
<div class="row">
    <form action="{% url 'dashboard' %}" method="GET" class="mt-5">
        {{ form.as_p }}
        <input class="btn btn-sm mt-1" type="submit" value="Filter">
    </form>
</div>
<div class="row text-center mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for category in page_obj %}
            <tr>
                <td>{{ category.category__name }}</td>
                <td>{{ category.amount__sum }}€</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No categories found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'pagination.html' %}
</div>
{% endblock %}