{% extends "base.html" %}

{% block content %}

{% load static %}

<h1 class="text-center mt-3">Categories list</h1>

<div class="text-center m-4">
    <a href="{% url 'add_category' %}" class="btn">Create Category</a>
</div>

<ul class="list-group list-group-flush ">
    {% for category in categories %}
    <li class="list-group-item">
        {{ category }}
        <div>
            <a href="{% url 'edit_category' pk=category.id %}" class="btn btn-sm">Edit</a>
            <a href="{% url 'delete_category' pk=category.id %}" class="btn btn-sm" id="danger">Delete</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock content %}