{% extends "base.html" %}

{% block content %}

<h1 class="text-center mt-3">Categories list</h1>

<ul class="list-group list-group-flush">
    {% for category in categories %}
    <li class="list-group-item">
        <strong>{{ category }}</strong>
        <a href="{% url 'edit_category' pk=category.id %}" class="btn btn-sm btn-secondary">Edit</a>
        <a href="{% url 'delete_category' pk=category.id %}" class="btn btn-sm btn-danger">Delete</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}